<?php

/**
 * Local configuration file
 *
 * This file is merged with the global application configuration settings
 * using http://php.net/manual/en/function.array-replace-recursive.php
 *
 * See the existing application configuration fragments for ideas on merging
 * your own configuration in here.
 *
 * @todo add a guide to the wiki
 */

return array(
    'resources' => array(
        'doctrine' => array(
            'dbal' => array(
                'connections' => array(
                    'default' => array(
                        'parameters' => array(
                            'charset' => 'utf8',
                            'collate' => 'utf8_unicode_ci',
                            'driver' => 'pdo_mysql',
                            'dbname' => 'tillikum',
                            'host' => 'localhost',
                            'port' => '3306',
                            'user' => 'root',
                            'password' => '',
                            'driverOptions' => array(
                                \PDO::MYSQL_ATTR_INIT_COMMAND => 'SET CHARACTER SET utf8',
                            ),
                        ),
                    ),
                ),
            ),
        ),
    ),
);
